* {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  background-color: #e4f1fe;
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
  margin: 0;
  padding: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  padding: 15px 15px;
  width: 100%;
  background-color: #e4f1fe;
  color: #22313f;
  border-bottom: 2px solid #22313f;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 1.25rem;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #22313f;
}

header > nav > ul > li:nth-child(1) {
  margin-right: 100px;
  font-weight: bold;
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-icon {
  width: 3rem;
  height: 3rem;
}

.hero {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  background-color: #62a9f1;
  color: #22313f;
}

.hero > h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero > p {
  font-size: 1.75rem;
}

.products {
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  background-color: #e4f1fe;
  border-top: 2px solid #22313f;
}

.add-product-item-field {
  order: 1000;
  border: 2px dashed #0000002f;
  color: #0000002f;
  border-radius: 1cap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-product-item-field:hover {
  border-color: #22313f;
  background-color: #bbdaf9;
  color: #22313f;
}

.add-product-item-field:active {
  transform: translateY(2px);
}

.product-item {
  position: relative;
  padding: 15px;
  border: 2px solid #22313f;
  border-radius: 1cap;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-item:hover {
  background-color: #bbdaf9;
}

.product-item > h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-item > *:nth-child(5) {
  background-color: #34495e;
  color: #e4f1fe;
  border-radius: 1cap;
  padding: 5px;
}

#product-item-template {
  display: none;
}

.close-card-button {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 0;
  border-radius: 0.75cap;
  font-size: 0.75rem;
  color: #e4f1fe;
  background-color: #22313f;
}

.close-card-button:hover {
  background-color: rgb(247, 41, 41);
}

.close-card-button:active {
  transform: translateY(2px);
}

footer {
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  background-color: #34495e;
  color: #e4f1fe;
}

#modal-dialog {
  border: 2px solid #22313f;
  border-radius: 1rem;
  padding: 20px;
  background-color: #e4f1fe;
  color: #22313f;
}

#modal-dialog > form > h2 {
  align-self: center;
  font-weight: bold;
  font-size: 2.5rem;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#modal-form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.modal-pair-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.modal-pair-container > input {
  font-size: 1.5rem;
}

.radio-label {
  font-size: 1.5rem;
}

#radio-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.modal-button {
  align-self: center;
  background-color: #62a9f1;
  color: #e4f1fe;
  border: none;
  border-radius: 1rem;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

#submit-modal-button:hover {
  background-color: #1c85ee;
  color: #ffffff;
}

#close-modal-button {
  background-color: rgb(220, 76, 76);
}

#close-modal-button:hover {
  background-color: rgb(204, 24, 24);
}